

body
{
	margin: auto;
	width: 100%;
	
	/*background-color: blue;*/
	/*background-image: linear-gradient(to right, #0000d9, black, #0000d9);
	background: -moz-linear-gradient(left, #0000d9, black, #0000d9);*/
	background-color: gray;
}


.titleContainer{
	width: 100%;
	margin-bottom: 100px;
}


.title{
	font-family: arial;
	font-size: 24px;
	line-height: 1.4;
	text-align: justify;
	
	color: white;
	
}

.title:link{
	color: red;
}

.blackBackground
{
	width: 62%;
	background-color: black;
	padding: 120px 0px 120px 0px;
	margin: auto;
}


.descriptionLN{
	width: auto;
	border:   2px solid black;
	border-radius: 25px;
	padding: 18px;
	background-color: white;
	margin: auto;
	margin-left: 18px;
	text-align: justify;
	line-height: 1.4;
	font-family: arial;
	/*font-family:georgia,garamond,serif;*/
}


.titreDiv
{
	color: white;
	text-align: center;
	font-size: 16px;
}


h3{
	background-color: gray;
	border: 2px solid black;
	border-radius: 12px;
	padding: 2px 5px 2px 10px;
	margin: 10px 15px;
}

span{
	margin: auto;
}

.genre{
	
	
	width: auto;
	border:   2px solid black;
	border-radius: 25px;
	padding: 18px;
	background-color: white;
	margin: auto;
	margin-left: 18px;
	text-align: justify;
}


.flextest{ /*Permet de mettre la description a cote du cover*/
	display: flex ;
}

.flextest2{	/*Permet de mettre les genres en dessous de la description*/
	display: flex;
	flex-direction: column;
}

.Novel{
	width: 90%;
	margin: auto;
}


.linkNovel{
	min-width: 35%;
	height: 100%;
}

.imgNovel{
	width: 100%;
}

.Novel:last-child
{
	margin-bottom: 120px;
}




.FooterRight
{	
	position: fixed;
	bottom: 0px;
	right: 2%;
	width: 15%;
}

.FooterLeft
{
	position: fixed;
	bottom: 0px;
	left: 2%;
	width: 15%;
}


/*----------------------------------------------------NavBar avec Dropdown-------------------------------------------------*/

	
					/*Define the UL*/
.LeUl {
	position: fixed;
    list-style-type: none;
    margin: 0px 10% 10% 10%;
    padding: 0px 0px 0px 0px;
    overflow: hidden;
    background-color: #333;
					/*makes the nav bar fixed to the top*/
	
	
	transition: top 1s;
    top: 0px;
    width: 80%;
}
					/*makes the li stick to the left put a border to the right*/
nav ul li {
    float: left;
	border-right: 1px solid #bbb;
}
					/*take out the border of the last line des boutons de sites*/
li.Site:nth-last-child(1n+1) {
    border-right: none;
}
					/**/
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #3385ff;
}

li.dropdown {
    display: inline-block;
	background-color: grey;
}

.dropdown-content {
    display: none;
    position: fixed;
    top: 46px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
	
}

.dropdown-content a:hover {background-color: #e6eeff}

.dropdown:hover .dropdown-content {
    display: block;
}

.active {
    background-color: #4CAF50;
}

.Site {
    border-left: 1px solid #bbb;
	background-color: #727;
}

/*---------------------------------------------------------------------------------------Normal-----------------------------------------------------*/

.normal{
	color: white;
}

.titleContainer2{
	width: 100%;
	margin-bottom: 100px;
	/*padding-top: 80px;*/
}


.title2{
	font-family: arial;
	font-size: 24px;
	line-height: 1.4;
	text-align: justify;
	
	color: white;
	
}

.title2:link{
	color: red;
}


